.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; // space between items
    // max-width: 120rem;
    margin: 0 auto;
    padding: 1rem;

    &-column {
        flex-direction: column;
    }

    &-reverse {
        flex-direction: row-reverse;
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}