@use "../abstracts/variables" as *;

.section-final-cta {
    padding: 4rem 0rem;

    text-align: center;


    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
            url("/src/assets/images/class-1.avif") center/cover no-repeat;

    & h2 {
        animation: animate-gradient 2.5s linear infinite;
    }
    
    & p {
        color: $color-white;
        font-size: 1.8rem;
    }
}