@use "../abstracts/variables" as *;
@use '../abstracts/mixins' as *;

.section-classes {
    background: linear-gradient(
        $color-bg-light, 
        $color-bg
        );

    &__content {
        text-align: center;

        &__cta {
            padding: 2rem 0rem;
        }
    }

    &-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 0 auto;
        border: 2px solid $color-accent-green;
        border-radius: 40rem;
        color: $color-accent-green;

        width: 20%;
        padding: 1rem 2rem;
        font-size: 1.6rem;

        animation: floating 2s ease-in-out infinite;

        @include respond(tab-port) {
            width: 35%;
        }

        @include respond(phone) {
            width: 40%;
        }

        &__icon {
            width: 2rem;
            margin-right: 1rem;
        }
    }
}

@keyframes pulseOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
